---
layout: layout.11ty.js
title: mikehealy.com
---
<span class="py-8 block font-light text-slate-600 text-3xl">
    Placeholder page
</span>

<ul class="space-y-4">
    <li>
        <a href="https://www.mikehealy.com.au" class="text-orange-400 hover:text-orange-200 transition-colors underline decoration-dashed hover:decoration-solid decoration-slate-600">Mike Healy &mdash; contract web development</a>
    </li>
</ul>
