---
layout: layout.11ty.js
title: mikehealy.com
---
<span class="pt-12 block font-light">
    Placeholder
</span>

<ul class="space-y-6">
    <li>
        <a href="https://www.mikehealy.com.au" class="text-orange-400 underline decoration-dashed decoration-gray-800">Mike Healy - contract web development</a>
    </li>

    <li>
        <a href="https://bytebox.dev" class="text-orange-400 underline decoration-dashed decoration-gray-800">Bytebox _ misc projects</a>
    </li>
</ul>