---
layout: layout.11ty.js
title: mikehealy.com
---
<p class="pt-12">
    Personal site. Under construction. 11ty and Tailwind.<br>
</p>

<time datetime="2024-01-14" class="block my-6 text-slate-200">14 January 2024</time>

<p>
    <a href="grid/" class="text-orange-400 underline decoration-dashed">Grid layout test</a>.
</p>